nav{
    position: fixed;
    z-index: 2;
    padding: 0.7rem 1rem;
    width: 100%;
}
.nav{
    &-menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }
    &-item:not(:last-child){
        margin-right: 1.5rem;
    }
    &-item:last-child{
        margin-right: 2rem;
    }
    &-link{
        font-family: $Lato;
        text-transform: uppercase;
        font-size: 1rem;
    }
    &-link:hover{
        color: $secondary-color;
        cursor: pointer;
    }
    &-logo{
        font-family: $Lobster;
        font-size: 2rem;
        color: $secondary-color;
    }
    &-colored{
        background: $primary-color;
        color: set-text-color($primary-color);
        height: 60px;
        z-index: 3;
        opacity: 0.8;

    }
}
.menu{
    &-nav{
        display: flex;
        flex-direction: row;
    }
}
.menu-btn {
    position: absolute;
    display: none;
    z-index: 3;
    right: 25px;
    top: 25px;
    cursor: pointer;
    @include easeOut;
  
    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0; // top right bottom left
      background: $secondary-color;
      @include easeOut;
    }
}
  